# Ignore semua node_modules di mana pun level foldernya
node_modules/

# Environment
.env
.env.local

# Build output
build/
dist/

# Logs
*.log
logs/

# VS Code
.vscode/

# System
.DS_Store
